
Final/__pycache__/Gesture_Controller.cpython-38.pyc
Final/__pycache__/Gesture_Controller.cpython-38.pyc
src/.vs/slnx.sqlite
src/.vs/slnx.sqlite
src/output
*.sqlite
*.sqlite
*.pyc
.vs/Repo/v16/.suo
.vs/Gesture_Controller/v16/.suo
*.sqlite
*.vs
.vs/slnx.sqlite
*.gif
output/start.exe
